*{margin: auto; padding: auto;}
@font-face{
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}
html,body{height: 100%;}
.body{color: white;}
/*======================Classes comuns a serem herdadas======================*/
.container-fluid{min-height: 100%; background: white;}
.position{position: relative;}
.display{display: block;}
.margin{margin-left: auto; margin-right: auto;}
.i{font-size: 3.5em;}
.input{
    border: 1px solid;
    border-color: transparent transparent orange transparent;
    color: #403d39;
    text-align: center;
    outline: none;}
/*============================================*/
/*======================Dados do perfil======================*/
.logo{display: none;}
.divDadosPerfil{
    display: none;
    position: absolute;
    min-height: 100%;
    background: #252422;
    text-align: center;
    font-family: "Lato-Light";
    z-index: 1;}
.divDadosPerfil .fa-user-circle-o{margin-top: 50px;}
.btnCloseMenu,.btnOpenMenu{
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    top: 20px;
    right: 20px;
    padding: 3px 0px; 
    border-radius: 30px;
    border: 2px solid white;
    background: #eb5e28;
    text-align: center;
    cursor: pointer;}
.dadosPerfil{
    width: 230px;
    height: auto;
    padding: 5px;
    border-bottom: 1px solid white;}
.nome, .matricula, .setor,.telefone{
    max-width: 200px;
    height: auto;
    padding: 10px 5px;
    margin-top: 0px;
    text-align: center;
    font-size: 18px;}
.matricula{margin-top: -10px;}
.titleMat,.titleSetor,.titleTelefone{
    width: 100px;
    padding: 3px;
    border-radius: 3px;
    background: #666;}

/*============================================*/

/*======================MENU PERFIL======================*/
.divMenuPerfil{
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;}
.ulMenu, .ulSubMenu{
    padding: 0;
    list-style: none;}
.liMenu{
    max-width: 220px;
    height: auto;
    margin: 10px auto 10px auto;}
.liMenu a{
    text-decoration: none;
    color: white;
    cursor: default;}
.op{
    width: 150px;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid #999;
    font-size: 18px;
    text-align: center;
    cursor: pointer;}
.op i{float: right;}
#liVisaoGeralAdmin,#liVisaoGeralAdminClientInsert,#liVisaoGeralAdminClientUpdate,#liVisaoGeralAdminClientList,
#liVisaoGeralAdminMenuInsert,#liVisaoGeralAdminMenuUpdate,#liVisaoGeralAdminMenuList,#liVisaoGeralAdminPerfilInsert,#liVisaoGeralAdminPerfilUpdate,
#liVisaoGeralAdminPerfilList,#liVisaoGeralAdminUserInsert,#liVisaoGeralAdminUserUpdate,#liVisaoGeralAdminUserList,#liVisaoGeralTecnico,
#liVisaoGeralTecnicoEquipamentoInsert,#liVisaoGeralTecnicoEquipamentoUpdate,#liVisaoGeralTecnicoEquipamentoList{margin-bottom: 30px;}

#liVisaoGeralAdmin h5,#liVisaoGeralAdminClientInsert h5,#liVisaoGeralAdminClientUpdate h5,#liVisaoGeralAdminClientList h5,
#liVisaoGeralAdminMenuInsert h5,#liVisaoGeralAdminMenuUpdate h5,#liVisaoGeralAdminMenuList h5,#liVisaoGeralAdminPerfilInsert h5,#liVisaoGeralAdminPerfilUpdate h5,
#liVisaoGeralAdminPerfilList h5,#liVisaoGeralAdminUserInsert h5,#liVisaoGeralAdminUserUpdate h5,#liVisaoGeralAdminUserList h5,#liVisaoGeralTecnico h5,
#liVisaoGeralTecnicoEquipamentoInsert h5,#liVisaoGeralTecnicoEquipamentoUpdate h5,#liVisaoGeralTecnicoEquipamentoList h5,#liPesquisarChamado h5,
#liPesquisarChamadoChamadoSearch h5,#liPesquisarChamadoChamadoDetail h5{
    width: 150px;
    border: none;}

/*----telaCliente----*/
#liPesquisarChamado, #liPesquisarChamadoChamadoSearch,#liPesquisarChamadoChamadoDetail{
    margin-top: 20px;
    margin-bottom: 20px;}
#liPesquisarChamado h5, #liPesquisarChamadoChamadoSearch h5,#liPesquisarChamadoChamadoDetail h5{width: 200px;}
/*--------*/

#liVisaoGeralAdmin i,#liVisaoGeralAdminClientInsert i,#liVisaoGeralAdminClientUpdate i,#liVisaoGeralAdminClientList i,
#liVisaoGeralAdminMenuInsert i,#liVisaoGeralAdminMenuUpdate i,#liVisaoGeralAdminMenuList i,#liVisaoGeralAdminPerfilInsert i,#liVisaoGeralAdminPerfilUpdate i,
#liVisaoGeralAdminPerfilList i,#liVisaoGeralAdminUserInsert i,#liVisaoGeralAdminUserUpdate i,#liVisaoGeralAdminUserList i,#liVisaoGeralTecnico i,
#liVisaoGeralTecnicoEquipamentoInsert i,#liVisaoGeralTecnicoEquipamentoUpdate i,#liVisaoGeralTecnicoEquipamentoList i,#liPesquisarChamado i,
#liPesquisarChamadoChamadoSearch i,#liPesquisarChamadoChamadoDetail i{float: left;}

.ulSubMenu{
    display: none;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;}
.liSubMenu{
    width: 150px;
    margin: 0px auto 10px auto;
    border-radius: 3px;
    background: grey;}
.liSubMenu a{cursor: pointer;}
/*============================================*/

/*======================CONTROLE CHAMADO======================*/
.controleChamado{
    display: block;
    position: absolute;
    min-height: 100%;
    background: white;}

.headerSection{
    width: 100%;
    height: 130px;
    margin-top: -20px;
    border-bottom: 1px solid #252422;
    text-align: center;
    font-family: "Lato-Light";}
.btnOpenMenu{
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    font-size: 1.5em;}
.headerSection h3{top: 70px; color: #252422; font-size: 1.5em;}
.menuControleChamado{
    height: auto;
    margin-top: 15%;
    margin-bottom: 5px;
    background: orange;}
.ulControleChamado{
    list-style: none;
    padding: 0;
    font-family: "Lato-Light";
    font-size: 1.3em;
    text-align: left;}
.liControle{
    width: 190px;
    height: 50px;
    margin: 10px auto 10px auto;
    padding: 15px 15px;
    box-shadow: 1px 1px 2px #999;
    background: white;}
.liControle a{
    text-decoration: none;
    color: #252422;}
.totalChamado{
    width: 200px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    background: #252422;
    font-size: 18px;
    font-family: "Lato-Light";
    text-align: left;}

/*=========telaAdmin_inserirCliente,telaAdmin_alterarCliente, telaAdmin_inserirMenu, telaAdmin_inserirPerfil,telaAdmin_alterarPerfil, telaAdmin_inserirUsuario,
           telaTecnico_inserirEquipamento=========*/
#divFormClientInsert, #divFormClientUpdate, #divFormMenuInsert, #divFormMenuUpdate, #divFormPerfilInsert, #divFormPerfilUpdate, #divFormUserInsert, #divFormUserUpdate,
#divFormEquipamentoInsert, #divFormEquipamentoUpdate{
    height: 450px;
    margin-bottom: 10px;
    color: #403d39;}
.formClient{
    margin-top: 20px;
    top: 30px;}
.formClient input{
    border-radius: 5px;}
.formClient input[type="submit"]{
    border: none;
    border-radius: 5px;
    background: #eb5e28;
    font-size: 16px;
    color: white;
    outline: none;}
.formClient select{
    padding: 0px 5px;
    border-radius: 5px;
    outline: none;}
/*==================*/

/*=========lista_clientes, lista_menus, lista_perfis, lista_usuarios, lista_equipamentos=========*/
#divTableClientList, #divTableMenuList, #divTablePerfilList, #divTableUserList, #divTableEquipamentoList{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: white;
    color: #403d39;
    font-family: "Lato-Light";
    overflow: auto;}
.tableList{
    height: auto;} 
.tableList th{
    height: 20px;
    border-bottom: 1px solid #252422;
    text-align: center;}
.tableList td{
    border: 1px solid #252422;
    text-align: center;}
.tableList a{
    text-decoration: none;
    font-size: 1.5em;
    color: #252422;}

/*==================*/

/*=========telaCliente, telaCliente_pesquisaChamado=========*/
.divFormAbrirChamado{
    width: 320px;
    height: 330px;
    overflow: auto;
    margin-top: 15px;
    margin-bottom: 5px;}
.formAbrirChamado{
    width: 300px;
    height: 450px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    text-align: center;
    font-family: "Lato-Light";
    color: #252422;}
#formPesquisarChamadoCliente{height: 150px; margin-top: 30px;}
.labelChamado{
    font-size: 18px;}
.formAbrirChamado textarea{
    border: 1px solid orange;
    border-radius: 3px;
    color: black;
    outline: none;}
.inputChamado{
    width: 200px;
    background: none;}
.btnAbrirChamado{
    border: none;
    border-radius: 5px;
    background: #eb5e28;
    font-size: 16px;
    color: white;
    outline: none;}
/*==================*/
/*============================================*/
/*======================TRATAMENTO DE RESOLUÇÕES======================*/
@media screen and (min-width: 992px){
    .divDadosPerfil{display: block;}
     .logo{
        display: block;
        height: 60px;
        background: #eb5e28;}
     .imgLogo{
         width: 200px;
         height: 50px;
         top: 10px;
         background: url("../img/logo_small.png");
         background-position: 50%;
         background-size: cover;}
    .btnCloseMenu, .btnOpenMenu{display: none;}

    .menuControleChamado{margin-top: 150px;}
    .ulControleChamado{width: 750px;}
    .liControle{
        display: inline-block;
        width: 160px;
        margin-left: 20px;
        font-size: 16px;}
/*=========telaCliente=========*/
.divFormAbrirChamado{}
.formAbrirChamado{
    
}}
/*==================*/
/*============================================*/