*{margin: auto; padding: auto;}
@font-face{
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}
html,body{height: 100%;}
.body{color: white;}
/*======================PATTERN======================*/
.container-fluid{min-height: 100%; background: white;}
.position{position: relative;}
.display{display: block;}
.margin{margin-left: auto; margin-right: auto;}
.i{font-size: 3.5em;}
.input{
    border: 1px solid #252422;
    border-radius: 5px;
    color: #403d39;
    text-align: center;
    outline: none;}
.logo{display: none;}
.divDadosPerfil{
    display: none;
    position: absolute;
    min-height: 100%;
    background: #252422;
    text-align: center;
    font-family: "Lato-Light";
    z-index: 1;}
.divDadosPerfil .fa-user-circle-o{position: relative; margin-top: 10px; top: 5px;}
.btnCloseMenu,.btnOpenMenu{
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    top: 20px;
    right: 20px;
    padding: 3px 0px; 
    border-radius: 30px;
    border: 2px solid white;
    background: #eb5e28;
    text-align: center;
    cursor: pointer;}
.dadosPerfil{
    width: 230px;
    height: auto;
    padding: 5px;
    border-bottom: 1px solid white;}
.nome, .matricula, .setor,.telefone{
    max-width: 200px;
    height: auto;
    padding: 10px 5px;
    margin-top: 0px;
    text-align: center;
    font-size: 18px;}
.matricula{margin-top: -20px;}
.titleMat,.titleSetor,.titleTelefone{
    width: 100px;
    padding: 3px;
    border-radius: 3px;
    background: #666;}
.divMenuPerfil{
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;}
/*============================================*/

/*======================MENU PERFIL (Telas Admin e Telas Tecnico)======================*/
.ulMenu{
    width: 200px;    
    padding: 2px;
    margin-bottom: 50px;
    border-radius: 5px;
    background: #333;
    color: white;}
.ulMenu a{
    text-decoration: none;
    color: white;}
.liVisaoGeral{
    display: block;
    position: relative;
    width: 150px;
    height: auto;
    padding: 0px;
    margin-top: 17px;
    border-radius: 2px;
    background: #252422;
    transition: 0.3s;}
.liVisaoGeralAdmin{margin-bottom: 15px;}
.liVisaoGeral:hover{background: grey;}

.op{
    display: block;
    font-size: 1.2em;}
.iMenu{
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 4px 0px;
    border-radius: 25px;
    border: 1px solid white;
    background: #eb5e28;
    float: left;
    left: -10px;
    top: -3px;
    font-size: 0.9em;}
.fa-caret-down{
    width: 14px;
    height: 14px;
    border-radius: 15px;
    position: relative; 
    float: right;
    right: 3px;
    top: 2px;
    background: green;
    transition: 0.3s;}
.fa-caret-down:hover{background: #255625;}
.ulSubMenu{
    display: none;
    position: absolute;
    width: 175px;
    height: auto;
    padding: 0px;
    float: right;
    right: -165px;
    top: -5px;
    text-decoration: none;
    list-style: none;
    text-align: center;}
.liSubMenu{
    display: block;
    position: relative;
    width: 155px;
    left: 10px;
    margin-top: 3px;
    top: -3px;
    background: #eb5e28;
    border-radius: 5px;
    transition: 0.4s;}
.liSubMenu:hover {background: #252422;}


/*----telaCliente----*/
#liPesquisarChamadoCliente, #liAbrirChamadoClienteChamadoSearch,#liPesquisarChamadoClienteChamadoDetail{
    margin-top: 20px;
    margin-bottom: 20px;}
#liPesquisarChamadoCliente h5, #liAbrirChamadoClienteChamadoSearch h5,#liPesquisarChamadoClienteChamadoDetail h5{width: 200px;}
/*--------*/


/*============================================*/

/*======================CONTROLE CHAMADO======================*/
.controleChamado{
    display: block;
    position: absolute;
    min-height: 100%;
    background: white;}

.headerSection{
    width: 100%;
    height: 80px;
    margin-top: -20px;
    border-bottom: 3px solid #ccc;
    background: #eb5e28;
    text-align: center;
    font-family: "Lato-Light";}
.btnOpenMenu{
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    font-size: 1.5em;}
.headerSection h3{top: 30px; color: white; font-size: 1.5em;}
.menuControleChamado{
    height: auto;
    margin-top: 15%;
    margin-bottom: 5px;}
.ulControleChamado{
    list-style: none;
    padding: 0;
    font-family: "Lato-Light";
    font-size: 1.3em;
    text-align: left;}
.liControle{
    width: 190px;
    height: 50px;
    margin: 10px auto 10px auto;
    padding: 15px 15px;
    box-shadow: 1px 1px 2px #999;
    background: white;}
.liControle a{
    text-decoration: none;
    color: #252422;}
.totalChamado{
    width: 200px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    background: #252422;
    font-size: 18px;
    font-family: "Lato-Light";
    text-align: left;}

/*=========telaAdmin_inserirCliente,telaAdmin_alterarCliente, telaAdmin_inserirMenu, telaAdmin_inserirPerfil,telaAdmin_alterarPerfil, telaAdmin_inserirUsuario,
           telaTecnico_inserirEquipamento=========*/
/*=========FORMULÁRIO PARA INSERÇÃO DE CLIENTE/USUÁRIO=========*/
.divForm{
    height: 450px;
    margin-bottom: 10px;
    color: #403d39;}
.form{
    margin-top: 20px;
    top: 30px;}
.form input{
    border-radius: 5px;}
.form input[type="submit"]{
    border: none;
    border-radius: 5px;
    background: #eb5e28;
    font-size: 16px;
    color: white;
    outline: none;}
.form select{
    padding: 0px 5px;
    border-radius: 5px;
    outline: none;}
/*==================*/

/*=========lista_clientes, lista_menus, lista_perfis, lista_usuarios, lista_equipamentos=========*/
.divTableList{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: white;
    color: #403d39;
    font-family: "Lato-Light";
    overflow: auto;}
.tableList{
    height: auto;} 
.tableList th{
    height: 20px;
    border-bottom: 1px solid #252422;
    text-align: center;}
.tableList td{
    border: 1px solid #252422;
    text-align: center;}
.tableList a{
    text-decoration: none;
    font-size: 1.5em;
    color: #252422;}

/*==================*/

/*=========telaCliente, telaCliente_pesquisarChamado,telaTecnico_pesquisarChamado=========*/
/*=========FORMULÁRIO DE CHAMADO=========*/
.divForm2{
    display: block;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 5px;}
.form2{
    display: block;
    width: 250px;
    height: auto;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: "Lato-Light";
    color: #252422;}
.labelChamado{
    width: 220px;
    font-size: 18px;}
#lblEtiqEquipamento{margin-top: 15px;}
#lblPesquisa{width: 280px;}
.form2 textarea{
    border: 1px solid #252422;
    border-radius: 3px;
    color: black;
    outline: none;}
.inputChamado, .select{
    display: inline-block;
    width: 200px;   
    background: none;}
#inputLocalidade{width: 150px;}
#inputEtiqueta {width:100px;}
.btnAbrirChamado{
    border: none;
    border-radius: 5px;
    background: #eb5e28;
    font-size: 16px;
    color: white;
    outline: none;}
/*==================*/
/*============================================*/
/*======================TRATAMENTO DE RESOLUÇÕES======================*/
@media screen and (min-width: 992px){
    .divDadosPerfil{display: block;}
    .logo{
        display: block;
        height: 50px;
        background: #252422;}
    .imgLogo{
        width: 160px;
        height: 30px;
        top: 20px;
        background: url("../img/logo_small.png");
        background-position: 50%;
        background-size: cover;}
    .btnCloseMenu, .btnOpenMenu{display: none;}

    .menuControleChamado{margin-top: 150px;}
    .ulControleChamado{width: 750px;}
    .liControle{
        display: inline-block;
        width: 160px;
        margin-left: 20px;
        font-size: 16px;}
/*==================FORMULÁRIOS DE CHAMADO==================*/
    .form2{width: 600px;}
    #lblLocalidade{
        width: 100px;
        float: left;
        text-align: right;}
    #lblEtiqEquipamento{text-align: right;}  
    #lblStatus, #lblResponsavel{width: 100px;text-align: right;}
    #lblEquipamento{width: 110px; margin-left: -10px;}
    #lblEtiqEquipamento{margin-top: 0px; margin-left: 10px;}

    #lblModelo, #lblTipo, #lblMarca{
        display: inline-block;
        width: 80px;
        text-align: center;}
    
    #lblNome{width: 60px;}
    #lblData{
      width: 145px;
      float: left;
      position: relative;
      left: 79px;}
    #inputData{
        position: relative;
        left: -40px;}
}
/*==================*/
/*============================================*/