@charset "utf-8";
*{margin: auto; padding: auto;}
html,body{height: 100%;}
.container-fluid{position: relative; min-height: 100%; background: #fffcf2;}
.position{position: relative;}
.header{
    max-height: 100px;
    background: #e25e28;
    text-align: left;
    color: white;}
#logo{display: none;}
#btnMenu{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: -30px;
    top: -10px;
    padding: 0px;
    border: 1px solid white;
    border-radius: 35px;
    text-align: center;
    font-size: 1.8em;
    color: #ccc5b9;
    cursor: pointer;}

/* ======TELA_TECNICO====== */
#sectionTecnico{
    display: block;
    min-height: 100%;
    background: transparent;}
.menu{
    font-family: "Lato",sans-serif;
    text-align: center;
    color: white;}
.menu i{font-size: 1.2em;}

#menuTecnico{
    display: none;
    position: absolute;
    min-height: 100%;
    background: #252422;
    z-index: 1;}
#menuTecnico .fa-user-circle-o{top: 20px; font-size: 3em;}
#menuTecnico li:nth-child(4){top: 100px;}

#menuChamado{margin-top: 5%;text-align: left;}
#menuChamado li{
    max-width: 200px;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    background: #252422;}
#menuChamado i{float: left;}