@charset "utf-8";
*{margin: auto; padding: auto;}
html,body{height: 100%;}
.container-fluid{position: relative; min-height: 100%; background: #fffcf2;}
.position{position: relative;}
.header{
    max-height: 100px;
    background: #e25e28;
    text-align: center;
    color: white;}
#logo{display: none;}

/* ======TELA_TECNICO====== */
#sectionTecnico{
    display: block;
    position: relative;
    min-height: 350px;}
.menu{
    font-family: "Lato",sans-serif;
    text-align: center;
    color: white;}
.menu i{font-size: 1.2em;}
#menuTecnico{
    display: none;
    position: absolute;
    min-height: 100%;
    background: #252422;
    z-index: 1;}
#menuTecnico .fa-user-circle-o{top: 20px; font-size: 3em;}
#menuTecnico li:nth-child(4){top: 100px;}

#menuChamado{text-align: left;}
#menuChamado li{
    max-width: 200px;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    background: #252422;}
#menuChamado i{float: left;}
#aberto{
    position: relative;
    float: right;
    top: -15px;
    left: 15px;
    width: 25px; 
    height: 25px;
    background: orange;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 0px;
}